@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,100;1,200&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,100;1,200&family=Shadows+Into+Light&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: #E5E5E5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.connectWalletCompDiv {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  position: absolute;
  width: 281px;
  height: 327px;

  background: #363638;
  border: 1px solid #45454b;
  box-shadow: 0px 1px 24px rgba(47, 48, 50, 0.08);
  border-radius: 12px;
  left: 50%;
  top: 40%;
  -moz-transform: translate(-50%, -50%); /* Firefox */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari and Chrome*/
  -o-transform: translate(-50%, -50%); /* Opera */
  transform: translate(-50%, -50%);
}

.connectWalletLabel {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 119%;
  display: flex;
  align-items: center;
  color: #ffffff;
  align-self: center;
  padding: 20px;
}

.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.WalletBtn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 12px;
  width: 197px;
  height: 197px;
  border: 1px solid #45454b;
  border-radius: 6px;
  background: #363638;
  cursor: pointer;
  color: #ffffff;
}

.WalletBtn:hover {
  background: #333335;
  cursor: pointer;
}
/* 
.widgetBox{
  background-color: pink;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: max-content;
  padding: 20px;
  margin: 20px;
} */

.addWidgetBtn {
  margin: 20px;
  color: #060707;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  padding: 5px 5px;
  gap: 12px;
  width: 220px;
  height: 45px;
  background: #e5e5e5;
  border: 1px solid #c0cbcb42;
  box-shadow: 0px 1px 6px rgba(180, 185, 199, 0.25);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.metaIcon {
  width: 99.25px;
  height: 99.25px;
}

.main {
  width: -webkit-fill-available;
}

.websiteLogo {
  box-sizing: border-box;
  /* position: relative; */
  width: 46px;
  height: 60px;
  /* left: 0px;
  top: 0px; */
  background: #e22440;
  mix-blend-mode: normal;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 8px;
  border-radius: 0px 0px 5px 5px;
}

.wraperConnect {
  width: 70vw;
  margin: 0 auto;
}

.mainWebsiteHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.helpCenter {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  cursor: pointer;
}

.mainWebsiteFooter {
  display: flex;
  position: absolute;
  bottom: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  width: inherit;
}

.mediaIconsDiv {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: max-content;
}

.mediaIcon {
  opacity: 0.5;
  padding: 8.29091px;
  /* width: 36px;
  height: 36px; */
  background: #353538;
  border-radius: 80.1818px;
}

a {
  text-decoration: none;
}
